body
{
	width:100%;
	text-align: justify;
	font-family: 'sans-serif';
	font-weight: 300;
	font-size:16px;
	background-color: #FFFFFF;
	color: #4F6071;
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;
	flex-wrap: wrap;
}
hr
{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
table
{
	padding: 5px;
}

table.pub_table,td.pub_td2,td.pub_td1
{
	border-collapse: collapse;
	border-bottom: 0px solid #9B9B9B;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	width: 90%;
}
td.pub_td1
{
	width: 10%;
}
td.pub_td2
{
	width: 80%;
}
td.year_heading
{
	color: #3B3B3B;
	font-weight: 700;
	font-size:20px;
	padding-top:10px;
}
tr {
	background-color: #FFF;
}

div#container
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;
	position: relative;
	background-color: #FFF;
}
div#DocInfo
{
	color: #9B9B9B;
	height: 128px;
}
h4,h3,h2,h1
{
	color: #3B3B3B;
}
h2
{
	font-size:130%;
}
p
{
	color: #000;
	margin-bottom: 20px;
}
p.caption
{
	color: #9B9B9B;
	text-align: left;
	width: 600px;
	font:11px helvetica,sans-serif;
}
p.caption2
{
	color: #9B9B9B;
	text-align: left;
	width: 800px;
	font:11px helvetica,sans-serif;
}
#header_img
{
	position: absolute;
	top: 0px; right: 0px;
}
a:link,a:visited
{
	color: #1367a7;
	text-decoration: none;
}
.section_div {
	background-color: #FFF;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	//border: 1px solid #AAA;
}
body {
	background-color: #FFF;
}
#personal_info {
	background-color: #FFF;
}
img.teaser_img {
	width: 256px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0px solid black
}
img.photo_of_me {
	border-radius: 50%;;
}
div.teaser_img_div {
	width: 286px;
}



